<%- include("header") -%>
    <h2>This is the about page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus reiciendis excepturi expedita voluptate non
        officia earum exercitationem quae enim ducimus ratione sint nemo laudantium quidem quaerat, consequatur
        repellendus aliquid numquam mollitia quo doloribus aliquam odio nihil! Illum quasi provident corporis, earum,
        molestiae cupiditate omnis iure ipsum error tempora libero consequuntur, deserunt in quidem excepturi! Doloribus
        at reiciendis nemo provident voluptatibus pariatur. In voluptatem, quis harum saepe vitae libero itaque.</p>

    <%- include("footer") -%>